:root {

    --background: #101417;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #2d3135;

    --inverse_primary: #246488;

    --inverse_surface: #dfe3e7;

    --on_background: #dfe3e7;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #00344d;

    --on_primary_container: #c8e6ff;

    --on_primary_fixed: #001e2e;

    --on_primary_fixed_variant: #004c6d;

    --on_secondary: #21323f;

    --on_secondary_container: #d2e5f5;

    --on_secondary_fixed: #0b1d29;

    --on_secondary_fixed_variant: #384956;

    --on_surface: #dfe3e7;

    --on_surface_variant: #c1c7ce;

    --on_tertiary: #342b4b;

    --on_tertiary_container: #e9ddff;

    --on_tertiary_fixed: #1f1635;

    --on_tertiary_fixed_variant: #4b4163;

    --outline: #8b9198;

    --outline_variant: #41484d;

    --primary: #94cdf6;

    --primary_container: #004c6d;

    --primary_fixed: #c8e6ff;

    --primary_fixed_dim: #94cdf6;

    --scrim: #000000;

    --secondary: #b7c9d8;

    --secondary_container: #384956;

    --secondary_fixed: #d2e5f5;

    --secondary_fixed_dim: #b7c9d8;

    --shadow: #000000;

    --source_color: #1d96d1;

    --surface: #101417;

    --surface_bright: #353a3e;

    --surface_container: #1c2024;

    --surface_container_high: #262a2e;

    --surface_container_highest: #313539;

    --surface_container_low: #181c20;

    --surface_container_lowest: #0a0f12;

    --surface_dim: #101417;

    --surface_tint: #94cdf6;

    --surface_variant: #41484d;

    --tertiary: #cdc0e8;

    --tertiary_container: #4b4163;

    --tertiary_fixed: #e9ddff;

    --tertiary_fixed_dim: #cdc0e8;



    --background_rgb: 16 20 23;

    --error_rgb: 255 180 171;

    --error_container_rgb: 147 0 10;

    --inverse_on_surface_rgb: 45 49 53;

    --inverse_primary_rgb: 36 100 136;

    --inverse_surface_rgb: 223 227 231;

    --on_background_rgb: 223 227 231;

    --on_error_rgb: 105 0 5;

    --on_error_container_rgb: 255 218 214;

    --on_primary_rgb: 0 52 77;

    --on_primary_container_rgb: 200 230 255;

    --on_primary_fixed_rgb: 0 30 46;

    --on_primary_fixed_variant_rgb: 0 76 109;

    --on_secondary_rgb: 33 50 63;

    --on_secondary_container_rgb: 210 229 245;

    --on_secondary_fixed_rgb: 11 29 41;

    --on_secondary_fixed_variant_rgb: 56 73 86;

    --on_surface_rgb: 223 227 231;

    --on_surface_variant_rgb: 193 199 206;

    --on_tertiary_rgb: 52 43 75;

    --on_tertiary_container_rgb: 233 221 255;

    --on_tertiary_fixed_rgb: 31 22 53;

    --on_tertiary_fixed_variant_rgb: 75 65 99;

    --outline_rgb: 139 145 152;

    --outline_variant_rgb: 65 72 77;

    --primary_rgb: 148 205 246;

    --primary_container_rgb: 0 76 109;

    --primary_fixed_rgb: 200 230 255;

    --primary_fixed_dim_rgb: 148 205 246;

    --scrim_rgb: 0 0 0;

    --secondary_rgb: 183 201 216;

    --secondary_container_rgb: 56 73 86;

    --secondary_fixed_rgb: 210 229 245;

    --secondary_fixed_dim_rgb: 183 201 216;

    --shadow_rgb: 0 0 0;

    --source_color_rgb: 29 150 209;

    --surface_rgb: 16 20 23;

    --surface_bright_rgb: 53 58 62;

    --surface_container_rgb: 28 32 36;

    --surface_container_high_rgb: 38 42 46;

    --surface_container_highest_rgb: 49 53 57;

    --surface_container_low_rgb: 24 28 32;

    --surface_container_lowest_rgb: 10 15 18;

    --surface_dim_rgb: 16 20 23;

    --surface_tint_rgb: 148 205 246;

    --surface_variant_rgb: 65 72 77;

    --tertiary_rgb: 205 192 232;

    --tertiary_container_rgb: 75 65 99;

    --tertiary_fixed_rgb: 233 221 255;

    --tertiary_fixed_dim_rgb: 205 192 232;

}